*
{
font-family:tnr;
color:yellow;
background-color:green;

}
h1
{
font-family:tnr;
color:green;
Background-color:yellow;
}
p.book
{
  color-yellow;
}
.family
{
  font-size:30p;
}
#name
{
 color-red
}
