p
{
   font-size:small;
   word-spacing:5px;
   text-decoration:underline;
   
}


h1
{
font-family:georgie,garamond,serif;
font-size:large;
text-decoration:line-through;
}

h5
{
font-weight:bold;
letter-spacing:5px;
text-decoration:overline;
text-transform:capitalize;
}
h2
{
   text-transform:uppercase;
   text-shadow:4px 4px 8px blue;
   color:yellow;
}

body
{
  border:3em dashed red;
  width:50%;
 }
  
   
